<% if session[:game] %>

<script type="text/javascript">

  var gameobject
  var p1 = new Player("<%= @activegame.players[0].id %>","#player1","<%= @activegame.players[0].wins %>","<%= @activegame.players[0].losses %>","<%= @activegame.players[0].name %>");
  var p2 = new Player("<%= @activegame.players[1].id %>","#player2","<%= @activegame.players[1].wins %>","<%= @activegame.players[1].losses %>","<%= @activegame.players[1].name %>");
  Game.id = "<%= @activegame.id %>";

</script>

<div class="game">

  <div id="player1"></div>
  <div id="player2"></div>

</div>

<form action="/logout" method="get"><input type="submit" value="logout"></form>
<p>Wins/Losses according to DB:</p>
<p><%= "Game ID: #{Game.find(session[:game]).id}" %></p>


<p>Wins/Losses according to JS:</p>
<script>
  
  document.write("<p>"+p1.name+": "+p1.wins+"<br>"+p2.name+": "+p2.wins+"</p><p>Game ID: "+ Game.id+ "</p>");
  
</script>


<% else %>

<div class="container">
  <form method="post" action="/">
    <input type="text" name="player1" placeholder="Player 1 Name">
    <input type="text" name="player2" placeholder="Player 2 Name">
    <input type="submit" value="PLAY!">
  </form>
</div>

<% end %>

